# --- Python environment ---
venv/
env/
ENV/
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# --- Django Specifics ---
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Sensitive Info (CRITICAL) ---
.env
*.pot
*.py[cod]

# --- OS / IDE Specifics ---
.DS_Store
.vscode/
.idea/
Backup/
Dockerfile
docker-compose.yml
